In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv('data.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [7]:
print(x)

[[1 'Netherlands' 183.78 170.36 6.03]
 [2 'Montenegro' 183.3 169.96 6.01]
 [3 'Estonia' 182.79 168.66 6.0]
 [4 'Bosnia and Herzegovina' 182.47 167.47 5.99]
 [5 'Iceland' 182.1 168.91 5.97]
 [6 'Denmark' 181.89 169.47 5.97]
 [7 'Czech Republic' 181.19 167.96 5.94]
 [8 'Latvia' 181.17 168.81 5.94]
 [9 'Slovakia' 181.02 167.12 5.94]
 [10 nan 180.98 167.2 5.94]
 [11 'Ukraine' 180.98 166.62 5.94]
 [12 'Croatia' 180.76 166.8 5.93]
 [13 'Serbia' 180.74 168.29 5.93]
 [14 'Lithuania' 180.72 167.63 5.93]
 [15 'Poland' nan 165.78 5.93]]

In [8]:
print(y)

[5.59 5.58 5.53 5.49 5.54 5.56 5.51 5.54 5.48 5.49 5.47 5.47 5.52 5.5
 5.44]